<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - News</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/css/jumbotron-narrow.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" />

    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link href="~/css/jumbotron-narrow.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

    </environment>
</head>
<body>
    <div class="container">
        <div class="header clearfix">
            <h3 class="text-muted pull-left">News Site</h3>
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Articles</a></li>
                    @{var sessionName = new Byte[20];
                        bool nameExists = Context.Session.TryGetValue("SessionKeyLoginType", out sessionName);

                        if (nameExists && System.Text.Encoding.UTF8.GetString(sessionName) == "Editor")
                        {
                            <li><a asp-area="" asp-controller="Home" asp-action="Publish">Publish</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Statistics">Statistics</a></li>
                        }
                    }
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
            </nav>
 
        </div>

            @await Html.PartialAsync("_LoginPartial")


            <div class="row marketing">
                @RenderBody()
            </div>
            <footer>
                <p>&copy; 2017 - News</p>
            </footer>
</div> <!-- /container -->


    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/chart.js/dist/Chart.js"></script>
        <script src="https://use.fontawesome.com/6e8fa8d561.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/lib/chart.js/dist/Chart.js"></script>
        <script src="https://use.fontawesome.com/6e8fa8d561.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
